body{
	text-align: center;
}

#game, #loginForm, #gameList, #registerForm, #about {
	margin: 0px auto;
	text-align: center;
	display: none;
	border-radius: 10px;
	box-shadow: 4px 4px 5px #404040;
}

#loginForm,#registerForm {
	width: 400px;
}

#about {
	width: 650px;
}

#gameList {
	width: 650px;

}

.header {
	border: 2px solid;
	background-color: #3366CC;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 40px;
}

.body {
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #999999;
	padding-top: 50px;
}

#loginForm .body {
	height: 200px;
}
#registerForm .body {
	height: 250px;
}
#about .body {
	height: 400px;
}
#gameList .body {
	height: 400px;
	padding-top: 0px;
}

#loginForm input, #registerForm input {
	display: block;
	margin:0px auto;
	margin-bottom: 20px;
	width: 250px;
}
#loginForm button, #registerForm button {
	margin-top: 20px;
}

.alert {
	width: 380px;
	margin: 0px auto;
}