body{
	text-align: center;
}

#game, #loginForm, #gameList, #registerForm, #about {
	margin: 0px auto;
	text-align: center;
	display: none;
	border-radius: 10px;
	box-shadow: 4px 4px 5px #404040;
}

#loginForm,#registerForm {
	width: 400px;
}

#about {
	width: 650px;
}

#gameList {
	width: 650px;
}

#game {
	width: 800px;
}

.header {
	border: 2px solid;
	background-color: #3366CC;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 40px;
}

.body {
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #999999;
	padding-top: 50px;
}

#loginForm .body {
	height: 200px;
}
#registerForm .body {
	height: 250px;
}
#about .body {
	height: 400px;
}
#gameList .body {
	height: 400px;
	padding-top: 0px;
}
#game .body {
	height: 530px;
	padding-top: 0px;
	background-color: #339933;
}

#loginForm input, #registerForm input {
	display: block;
	margin:0px auto;
	margin-bottom: 20px;
	width: 250px;
}
#loginForm button, #registerForm button {
	margin-top: 20px;
}

.alert {
	width: 380px;
	margin: 0px auto;
}

#tableGameList {
	height: 350px;
	overflow: auto;
}

#tableGameList table tbody tr:hover{
	background-color: #AAAAAA;
}

#createJoinButtons {
	padding-top: 10px;
}

.choosenGame {
	background-color: #CCCCCC;
	color: green;
	font-weight: bold;
}

#headerRoomName {
	display: inline-block;	
	float: left;
	padding-left: 10px;
	color: #4F2F4F;
}

#game .header h3{
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

#headerPlayerInfo {
	display: inline-block;
	float: right;
	padding-right: 10px;
}
#coins {
	color: gold;
}
#nick {
	color: #4F2F4F;
}
#headerPlayerInfo img {
	padding-bottom: 10px;
	margin-right: 2px;
	margin-left: 15px;
}

.game {
	background-color: #006633;
	height: 420px;
	border-bottom: 3px solid;
}
#chat {
	height: 107px;
	width: 397px;
	float: left;
	border-right: 2px solid;
}
#action {
	height: 107px;
	width: 397px;
	float: right;
}
#msgList {
	height: 78px;
	margin-bottom: 3px;
	overflow: auto;
	text-align: left;
}
#msgList p {
	word-wrap: break-word;
	color: black;
	font-size: 0.9em;
	margin: 0px;
}
#msg {
	margin: 0px;
	padding: 0px;
	width: 385px;
}